{% extends 'base.html' %}
{% load static %}
{% block title %}Каталог{% endblock title %}
{% block css %} <link rel="stylesheet" href="{% static "css/catalog/catalog.css" %}" type="text/css"/>{% endblock %}
{% block content %}
<div class="anime-description">
    <h1 class="display-1">Каталог аниме</h1>
    <div class="catalog-block">
        <h2 class="display-2">Жанры</h2>
        <ul class="products">
            {% for genre in genres %}
                <li class="genre">
                    <a href='/catalog/genre/{{ genre.id }}'>
                        <div class="thumbnail">
                            <img src="{{ genre.image.url }}" alt="{{ genre.name }}">
                        </div>
                        <div class="caption">
                            <p>{{ genre.name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="genre-button">
                <a href='/catalog/genres'>
                    <div class="genre-button-text">
                        <p style='margin-top: 130px'> → </p>
                    </div>
                </a>
            </li>
        </ul>

        <h2 class="display-2" style='margin-top: 50px;'>Аниме</h2>
        <ul class="products">
            {% for genre in genres %}
                <li class="genre">
                    <a href='/catalog/genre/{{ genre.id }}'>
                        <div class="thumbnail">
                            <img src="{{ genre.image.url }}" alt="{{ genre.name }}">
                        </div>
                        <div class="caption">
                            <p>{{ genre.name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="genre-button">
                <a href='/catalog/genres'>
                    <div class="genre-button-text">
                        <p style='margin-top: 130px'> → </p>
                    </div>
                </a>
            </li>
        </ul>

        <h2 class="display-2">Фильмы</h2>
        <ul class="products">
            {% for genre in genres %}
                <li class="genre">
                    <a href='/catalog/genre/{{ genre.id }}'>
                        <div class="thumbnail">
                            <img src="{{ genre.image.url }}" alt="{{ genre.name }}">
                        </div>
                        <div class="caption">
                            <p>{{ genre.name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="genre-button">
                <a href='/catalog/genres'>
                    <div class="genre-button-text">
                        <p style='margin-top: 130px'> → </p>
                    </div>
                </a>
            </li>
        </ul>

        <h2 class="display-2">OVA</h2>
        <ul class="products">
            {% for genre in genres %}
                <li class="genre">
                    <a href='/catalog/genre/{{ genre.id }}'>
                        <div class="thumbnail">
                            <img src="{{ genre.image.url }}" alt="{{ genre.name }}">
                        </div>
                        <div class="caption">
                            <p>{{ genre.name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="genre-button">
                <a href='/catalog/genres'>
                    <div class="genre-button-text">
                        <p style='margin-top: 130px'> → </p>
                    </div>
                </a>
            </li>
        </ul>
        <h2 class="display-2">Пользовательские</h2>
        <ul class="products">
            {% for genre in genres %}
                <li class="genre">
                    <a href='/catalog/genre/{{ genre.id }}'>
                        <div class="thumbnail">
                            <img src="{{ genre.image.url }}" alt="{{ genre.name }}">
                        </div>
                        <div class="caption">
                            <p>{{ genre.name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="genre-button">
                <a href='/catalog/genres'>
                    <div class="genre-button-text">
                        <p style='margin-top: 130px'> → </p>
                    </div>
                </a>
            </li>
        </ul>

        <h2 class="display-2">Спешл</h2>
        <ul class="products">
            {% for genre in genres %}
                <li class="genre">
                    <a href='/catalog/genre/{{ genre.id }}'>
                        <div class="thumbnail">
                            <img src="{{ genre.image.url }}" alt="{{ genre.name }}">
                        </div>
                        <div class="caption">
                            <p>{{ genre.name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="genre-button">
                <a href='/catalog/genres'>
                    <div class="genre-button-text">
                        <p style='margin-top: 130px'> → </p>
                    </div>
                </a>
            </li>
        </ul>

        <h2 class="display-2">Пользовательские подборки</h2>
        <ul class="products">
            {% for genre in genres %}
                <li class="genre">
                    <a href='/catalog/genre/{{ genre.id }}'>
                        <div class="thumbnail">
                            <img src="{{ genre.image.url }}" alt="{{ genre.name }}">
                        </div>
                        <div class="caption">
                            <p>{{ genre.name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="genre-button">
                <a href='/catalog/genres'>
                    <div class="genre-button-text">
                        <p style='margin-top: 130px'> → </p>
                    </div>
                </a>
            </li>
        </ul>

    </div>
</div>
{% endblock content %}