{% extends 'base.html' %}
{% load static %}
{% block title %}Каталог{% endblock title %}
{% block css %} <link rel="stylesheet" href="{% static "css/catalog/catalog.css" %}" type="text/css"/>{% endblock %}
{% block content %}
<div class="anime-description">
    <h1 class="display-1">Каталог аниме</h1>
    <div class="catalog-block">
        <h2 class="display-2">Жанры</h2>
        <ul class="products">
            {% for genre in genres %}
                <li class="genre">
                    <a href='/catalog/genre/{{ genre.id }}'>
                        <div class="thumbnail">
                            <img src="{{ genre.image.url }}" alt="{{ genre.name }}">
                        </div>
                        <div class="caption">
                            <p>{{ genre.name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="genre-button">
                <a href='/catalog/genres'>
                    <div class="genre-button-text">
                        <p style='margin-top: 130px'> → </p>
                    </div>
                </a>
            </li>
        </ul>

        <h2 class="display-2">Аниме</h2>
        <ul class="products">
            {% for anime in anime_list %}
                <li class="genre">
                    <a href="/anime/{{ anime.id }}">
                        <div class="thumbnail">
                            <img src="{{ anime.image.url }}" alt="{{ anime.title }}">
                        </div>
                        <div class="caption">
                            <p>
                                {% if anime.title|length > 20 %}
                                  {{ anime.title|slice:":20" }}...
                                {% else %}
                                  {{ anime.title }}
                                {% endif %}
                              </p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="genre-button">
                <a href='/catalog/genres'>
                    <div class="genre-button-text">
                        <p> → </p>
                    </div>
                </a>
            </li>
        </ul>

        <h2 class="display-2">Фильмы</h2>
        <ul class="products">
            {% for film in films %}
                <li class="genre">
                    <a href='/anime/film/{{ film.id }}'>
                        <div class="thumbnail">
                            <img src="{{ film.image.url }}" alt="{{ film.title }}">
                        </div>
                        <div class="caption">
                            <p>
                                {% if film.title|length > 20 %}
                                  {{ film.title|slice:":20" }}...
                                {% else %}
                                  {{ film.title }}
                                {% endif %}
                              </p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="genre-button">
                <a href='/catalog/genres'>
                    <div class="genre-button-text">
                        <p style='margin-top: 130px'> → </p>
                    </div>
                </a>
            </li>
        </ul>

        <h2 class="display-2">OVA</h2>
        <ul class="products">
            {% for ova in ova_list %}
                <li class="genre">
                    <a href='/catalog/genre/{{ ova.id }}'>
                        <div class="thumbnail">
                            <img src="{{ ova.image.url }}" alt="{{ ova.title }}">
                        </div>
                        <div class="caption">
                            <p>
                                {% if ova.title|length > 20 %}
                                  {{ ova.title|slice:":20" }}...
                                {% else %}
                                  {{ ova.title }}
                                {% endif %}
                              </p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="genre-button">
                <a href='/catalog/genres'>
                    <div class="genre-button-text">
                        <p style='margin-top: 130px'> → </p>
                    </div>
                </a>
            </li>
        </ul>
        <h2 class="display-2">ONA</h2>
        <ul class="products">
            {% for ona in ona_list %}
                <li class="genre">
                    <a href='/catalog/genre/{{ genre.id }}'>
                        <div class="thumbnail">
                            <img src="{{ ona.image.url }}" alt="{{ ona.title }}">
                        </div>
                        <div class="caption">
                            <p>
                                {% if ona.title|length > 20 %}
                                  {{ ona.title|slice:":20" }}...
                                {% else %}
                                  {{ ona.title }}
                                {% endif %}
                              </p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="genre-button">
                <a href='/catalog/genres'>
                    <div class="genre-button-text">
                        <p style='margin-top: 130px'> → </p>
                    </div>
                </a>
            </li>
        </ul>

        <h2 class="display-2">Спешл</h2>
        <ul class="products">
            {% for special in specials_list %}
                <li class="genre">
                    {% if special.temp_type == 'Anime'%}
                    <a href="/anime/{{ special.id }}">
                    {% elif special.temp_type == 'Film'%}
                    <a href="/anime/film/{{ special.id }}">
                    {% endif %}
                        <div class="thumbnail">
                            <img src="{{ special.image.url }}" alt="{{ special.title }}">
                        </div>
                        <div class="caption">
                            <p>
                                {% if special.title|length > 20 %}
                                  {{ special.title|slice:":20" }}...
                                {% else %}
                                  {{ special.title }}
                                {% endif %}
                              </p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="genre-button">
                <a href='/catalog/genres'>
                    <div class="genre-button-text">
                        <p style='margin-top: 130px'> → </p>
                    </div>
                </a>
            </li>
        </ul>

        <h2 class="display-2">Пользовательские подборки</h2>
        <ul class="products">
            {% for genre in genres %}
                <li class="genre">
                    <a href='/catalog/genre/{{ genre.id }}'>
                        <div class="thumbnail">
                            <img src="{{ genre.image.url }}" alt="{{ genre.name }}">
                        </div>
                        <div class="caption">
                            <p>{{ genre.name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="genre-button">
                <a href='/catalog/genres'>
                    <div class="genre-button-text">
                        <p style='margin-top: 130px'> → </p>
                    </div>
                </a>
            </li>
        </ul>

    </div>
</div>
{% endblock content %}