{% extends 'base.html' %}
{% load static %}
{% block title %}Жанры{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static "css/catalog/genres.css" %}" type="text/css"/>{% endblock css %}
{% block content %}
<div class="catalog-block">
    <h1 class="display-1" style="margin-left: 10px">Жанры</h1>
    <ul class="products">
        {% for genre in genres %}
        <li class="genre">
            <a href='/catalog/genre/{{ genre.id }}'>
                <div class="thumbnail">
                    <img src="{{ genre.image.url }}">
                </div>
                <div class="caption">
                    <p>{{ genre.name }}</p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}