{% extends "base.html" %}
{% load static %}
{% block title %}Сезоны{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static "css/catalog/genres.css" %}" type="text/css"/>{% endblock css %}
{% block content %}
<div class="catalog-block">
    <h1 class="display-1" style="margin-left: 10px">Сезоны</h1>

    <h1 class="display-1">НА СТАДИИ РАЗРАБОТКИ</h1>
    {% comment %} <ul class="products">
        <li class="genre">
            <a href='/catalog'>
                <div class="thumbnail">
                    <img src="{% static "images/drstone.png" %}">
                </div>
                <div class="caption">
                    <p>Осень 2023</p>
                </div>
            </a>
        </li>
        <li class="genre">
            <a href='/catalog'>
                <div class="thumbnail">
                    <img src="{% static "images/jutsu.jpg" %}" alt="Товар 1">
                </div>
                <div class="caption">
                    <p>Лето 2023</p>
                </div>
            </a>
        </li>
        <li class="genre">
            <a href='/catalog'>
                <div class="thumbnail">
                    <img src="{% static "images/klinok.png" %}" alt="Товар 1">
                </div>
                <div class="caption">
                    <p>Весна 2023</p>
                </div>
            </a>
        </li>
        <li class="genre">
            <a href='/catalog'>
                <div class="thumbnail">
                    <img src="{% static "images/vinland.png" %}" alt="Товар 1">
                </div>
                <div class="caption">
                    <p>Зима 2023</p>
                </div>
            </a>
        </li>
        <li class="genre">
            <a href='/catalog'>
                <div class="thumbnail">
                    <img src="{% static "images/block.png" %}" alt="Товар 1">
                </div>
                <div class="caption">
                    <p>Осень 2022</p>
                </div>
            </a>
        </li>
        <li class="genre">
            <a href='/catalog'>
                <div class="thumbnail">
                    <img src="{% static "images/drstone.png" %}">
                </div>
                <div class="caption">
                    <p>Лето 2022</p>
                </div>
            </a>
        </li>
        <li class="genre">
            <a href='/catalog'>
                <div class="thumbnail">
                    <img src="{% static "images/jutsu.jpg" %}" alt="Товар 1">
                </div>
                <div class="caption">
                    <p>Весна 2022</p>
                </div>
            </a>
        </li>
        <li class="genre">
            <a href='/catalog'>
                <div class="thumbnail">
                    <img src="{% static "images/klinok.png" %}" alt="Товар 1">
                </div>
                <div class="caption">
                    <p>Зима 2022</p>
                </div>
            </a>
        </li>
        <li class="genre">
            <a href='/catalog'>
                <div class="thumbnail">
                    <img src="{% static "images/vinland.png" %}" alt="Товар 1">
                </div>
                <div class="caption">
                    <p>Осень 2021</p>
                </div>
            </a>
        </li>
        <li class="genre">
            <a href='/catalog'>
                <div class="thumbnail">
                    <img src="{% static "images/block.png" %}" alt="Товар 1">
                </div>
                <div class="caption">
                    <p>Лето 2021</p>
                </div>
            </a>
        </li>
        <li class="genre">
            <a href='/catalog'>
                <div class="thumbnail">
                    <img src="{% static "images/block.png" %}" alt="Товар 1">
                </div>
                <div class="caption">
                    <p>Весна 2021</p>
                </div>
            </a>
        </li>
        <li class="genre">
            <a href='/catalog'>
                <div class="thumbnail">
                    <img src="{% static "images/block.png" %}" alt="Товар 1">
                </div>
                <div class="caption">
                    <p>Зима 2021</p>
                </div>
            </a>
        </li>

    </ul> {% endcomment %}
</div>
{% endblock content %}