{% extends 'base.html' %}
{% load static %}
{% block title %}{{ genre.name }}{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static "css/catalog/genre.css" %}" type="text/css"/>{% endblock css %}
{% block content %}
<div class="catalog-block">
    <h1 class="display-1" style="margin-left: 20%; color: white"> {{ display_type }} </h1>
    <div id="anime-list" class="mini-product-container" style='margin-top:20px'></div>
</div>
<script>
    var page = 1;
    var loading = false;
    var order_by = 'title';
    var typeChosen = '{{ anime_type }}'
    var typeFilter = [];

    $(document).ready(function () {
        // Скрываем контейнеры при загрузке страницы
        $('#genresContainer').hide();
        $('#typeContainer').hide();

        // Переключаем видимость контейнера с жанрами
        $('#showGenresButton').click(function () {
            $('#genresContainer').toggle();
            $('#typeContainer').toggle();
        });
    });

    $('input[name="selectedGenres"]').change(function () {
        // Очищаем список и загружаем данные заново с учетом выбранных жанров
        $('#anime-list').empty();
        page = 1;
        loadMoreAnime();
    });

    $('input[name="typeFilter"]').change(function () {
        // Очищаем список и загружаем данные заново
        $('#anime-list').empty();
        page = 1;
        loadMoreAnime();
    });

    function loadMoreAnime() {
        if (!loading) {
            loading = true;
    
            $.ajax({
                url: '{% url "get_type" %}',
                data: { page: page,  typeChosen: typeChosen },
                dataType: 'json',
                success: function (data) {
                    console.log(data.anime_data);
    
                    if (data.anime_data.length > 0) {
                        var html = '';
                        for (var i = 0; i < data.anime_data.length; i++) {
                            var anime = data.anime_data[i];
                            var imageUrl = anime.image_url ? anime.image_url : '';
                            var itemType = anime.type;
                            html += `<div class="mini-product-block" id="item${anime.id}" onmouseover="toggleText('item${anime.id}')" onmouseout="toggleDefault('item${anime.id}')">`;
                            html += '<a href="' + (itemType === 'Anime' ? '/anime/' : 'anime/film/') + anime.id + '" style="width: 100%; height: 100%">';
                            html += '<div class="image-container">';
                            html += '<img src="' + imageUrl + '" class="product-image">';
                            html += '<div class="overlay"></div>';
                            html += '</div>';
                            html += '<p class="title">' + (anime.title.length > 30 ? anime.title.slice(0, 30) + '...' : anime.title) + '</p>';
                            html += '<p class="description">' + (anime.description.length > 450 ? anime.description.slice(0, 450) + '...' : anime.description) + '</p>';
                            html += '</a>';
                            html += '</div>';
                        }
                        $('#anime-list').append(html);
                        page += 1;
                    } else {
                        $('#load-more').hide();
                    }
                    loading = false;
                },
                error: function () {
                    loading = false;
                }
            });
        }
    }

    // Обработчик изменений в селекторе сортировки
    $('#sort-selector').change(function () {
        // Получаем выбранное значение
        order_by = $(this).val();
        // Очищаем список и загружаем данные заново
        $('#anime-list').empty();
        page = 1;
        loadMoreAnime();
    });

    // Обработчик события прокрутки
    $(window).scroll(function () {
        if (!loading && $(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
            loadMoreAnime(); // Вызов функции загрузки данных
        }
    });

    // Загрузите первую порцию данных при загрузке страницы
    loadMoreAnime();
</script>
{% endblock content %}