#background-image {
    width: 100%; /* Ширина изображения по ширине экрана */
    position: absolute; /* Важно: установите позицию изображения как абсолютную */
    top: 0; /* Разместите изображение в верхнем крае контейнера (навбара) */
    left: 0; /* Разместите изображение в левом крае контейнера (навбара) */
    z-index: -1; /* Установите z-index, чтобы изображение оказалось за навбаром */
    border: none;
    outline: none;
}

#navbar {
    position: relative; /* Важно: установите позицию навбара как относительную */
}

.image-banner {
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
}

.image-banner img {
    width: 100%;
    height: 100%;
    border: none;
}

.image-banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 642px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(46, 46, 46));
    border:none;
}

.mini-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mini-product-block {
    width: calc(33.33% - 40px);
    height: 450px;
    margin-bottom: 60px;
    box-sizing: border-box;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mini-product-block:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.product-image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mini-product-block:hover .overlay {
    opacity: 1;
}

.mini-product-block p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.mini-product-block .description {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-weight: lighter;
    font-size: 15px;
}

.update-block {
    height: 120px;
    width: 300px;
    display: flex;
    border: 10px;
    background-color: #3d3c3c;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }
  
  .image-container {
    flex: 1; /* Занимает доступное пространство слева */
  }
  
  .additional-image-container img {
    height: 100px;
    width: 70px; /* Растягивает изображение по ширине контейнера */
    border-radius: 5px;
  }
  
  .description-container {
    flex: 1;
    padding-left: 5px;
    text-align: left; /* Выравнивание текста справа */
  }