{% extends "base.html" %}
{% load static %} 
{% block title %} Вход {% endblock title %}
{% block css %} <link rel="stylesheet" href="{% static "css/registration/login.css" %}" type="text/css"/> {% endblock css %}
{% block content %}
<div class="page">
  <div class="login-container">
    <div class="left">
      <div class="login">Вход</div>
      <div class="eula" style="margin-top: 150px">Нет аккаунта? Создайте <a href='/registration'>здесь!</a></div>
    </div>
    <div class="right">
      <div class="form">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <label for="username" class="form-label">Имя пользователя: </label>
          <input type="username" id="username" name="username" class="form-control" style='background-color: #2d2d30; color: white;'>
          <label for="password" class="form-label">Пароль:</label>
          <input type="password" id="password" name="password" class="form-control" style='background-color: #29292c; color: white;'>
          <input type="submit" id="submit" value="Войти" class="btn btn-secondary" style='margin-bottom: 40px; border: 1px solid #ddd;'>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}