{% extends 'base.html' %}
{% load static %}
{% block title %} {{ anime.title }} {% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static "css/animepage/animepage.css" %}" type="text/css"/>{% endblock css %}
{% block content %}
<div class='background-banner' id="background-image">
    <img src='{{ anime.image.url }}'>
</div>
<div class='main-container'>
    <div class='anime-container'>
        <div class='anime-banner'>
            <img src='{{ anime.image.url }}'>
        </div>
        <div class='anime-description'>
            <div class='anime-description-title'>
                <p> {{ anime.title }} </p>
            </div>
            <div class="anime-description-text">
                <p><strong>Тип: </strong>{{ anime.anime_type }}</p> 
                {% if anime.status != "0"%}<p><strong>Статус: </strong>{% if anime.status == "Онгоинг" %}<a href='/catalog/ongoing/'>{% else %}<a href='/catalog/finished/'>{% endif %}{{ anime.status }}</a></p>{% endif %}
                <p><strong>Эпизоды: </strong>{{ anime.amount_of_episodes }}</p>
                <p><strong>Жанр: </strong>{% for genre in anime.genres.all %} <a href='/catalog/genre/{{ genre.id }}'>{{ genre.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
                <p><strong>Выпуск: </strong>{{anime.date_published}}</p>
                <p><strong>Первоисточник: </strong> {{anime.origin_source }}</p>
                <p><strong>Студия: </strong>{{ anime.studio }}</p>
                <p><strong>Длительность: </strong> {{ anime.duration }}</p>
                <button class='list-button' id='list-button'>Добавить в список</button>
                <ul class="dropdown-list">
                    <li class='dropdown-item'>Список 1</li>
                    <li>Список 2</li>
                    <li>Список 3</li>
                    <li>Список 4</li>
                    <li>Список 5</li>
                    <li>Список 6</li>
                </ul>
            </div>
        </div>
    </div>
    <div class='anime-description-title' style='margin-left: 350px'>
        <p> Описание </p>
    </div>
    <div class="about">
        <div class='about-text'>
            <p> {{ anime.description }}</p>
        </div>
    </div>

    <div class='anime-description-title' style='margin-left: 350px; margin-top: 30px'>
        <p> Кадры </p>
    </div>
    <div class="additional-images-container">
        <div class="block">
            {% for img in additional_images %}
                <img src='{{ img.image.url }}'>
            {% endfor %}
        </div>
    </div>


    <div class='anime-description-title' style='margin-left: 350px; margin-top: 50px'>Смотреть онлайн</div>
    <div class="player-block">
        <div id="container" style='background-color: #202020'>
            <div id="playerContainer">
                <center>
                    <iframe id="myIframe" src="{{ link.kodik_link }}" width=840 height=515 frameborder="0" allowfullscreen></iframe>
                </center>
            </div>
            <div id="buttonsContainer" style='margin-left: 385px; display: flex; align-items: center;'>
                <div class='episode-selector' id="episodeSelector" style="flex-grow: 1;">
                    <button class="prev-button" onclick="prevPage()"><</button>
                    {% for episode in episodes %}
                        <button type="button" class="btn btn-secondary episode-button" onclick="changeSeries('{{ episode.kodik_link }}', this)">{{ episode.n_episode }}</button>
                    {% endfor %}
                    <button class="next-button" onclick="nextPage()">></button>
                </div>
                <div id="selectSeries"></div> <!-- Добавленный элемент с идентификатором 'selectSeries' -->
            </div>         
        </div>
    </div>
    <div class='anime-description-title' style='margin-left: 350px; margin-top: 50px'>Коментарии</div>
        <div class='create-comment'>
            <input placeholder="Напишите коментарий" type="text"></input>
            <button>></button>
        </div>
        <div class="comments-container">
            <div class='comments-block'>
                <div class='comment-author-data'>
                    <div class='comment-author-image'>
                        <img src='{% static 'images/drstone.png'%}'>
                    </div>
                    <div class='comment-author'>
                        <p>Автор коментария</p>
                    </div>
                    <div class='comment-date-time'>
                        <p>12.08.23, 16:54</p>
                    </div>
                </div>
                <div class='comment-text'>
                    <p> ТЕКСТ текст Текст </p>
                </div>
            </div>
            <div class="comments-block-answer">
                <div class='comment-author-data'>
                    <div class='comment-author-image'>
                        <img src='{% static 'images/drstone.png'%}'>
                    </div>
                    <div class='comment-author'>
                        <p>Автор ответа</p>
                    </div>
                    <div class='comment-date-time'>
                        <p>12.08.23, 16:59</p>
                    </div>
                </div>
                <div class='comment-text'>
                    <p> Пошел нахуй </p>
                </div>
            </div>
            <div class='comments-block'>
                <div class='comment-author-data'>
                    <div class='comment-author-image'>
                        <img src='{% static 'images/drstone.png'%}'>
                    </div>
                    <div class='comment-author'>
                        <p>Автор коментария</p>
                    </div>
                    <div class='comment-date-time'>
                        <p>12.08.23, 16:54</p>
                    </div>
                </div>
                <div class='comment-text'>
                    <p> ТЕКСТ текст Текст </p>
                </div>
            </div>
            <div class="comments-block-answer">
                <div class='comment-author-data'>
                    <div class='comment-author-image'>
                        <img src='{% static 'images/drstone.png'%}'>
                    </div>
                    <div class='comment-author'>
                        <p>Автор ответа</p>
                    </div>
                    <div class='comment-date-time'>
                        <p>12.08.23, 16:59</p>
                    </div>
                </div>
                <div class='comment-text'>
                    <p> Пошел нахуй </p>
                </div>
            </div>
            <div class='comments-block'>
                <div class='comment-author-data'>
                    <div class='comment-author-image'>
                        <img src='{% static 'images/drstone.png'%}'>
                    </div>
                    <div class='comment-author'>
                        <p>Автор коментария</p>
                    </div>
                    <div class='comment-date-time'>
                        <p>12.08.23, 16:54</p>
                    </div>
                </div>
                <div class='comment-text'>
                    <p> ТЕКСТ текст Текст </p>
                </div>
            </div>
            
        </div>
    </div>
</div>
    
<script>
        function getAnimeCookieKey(animeId) {
            return "currentPage_" + animeId;
        };
    
        function switchIframeSource(newSrc, showSeriesSelect, clickedButton, animeId) {
            var iframe = document.getElementById("myIframe");
            if (iframe) {
                iframe.src = newSrc;
            } else {
                console.error("Не удалось найти элемент 'myIframe'.");
                return;
            }
    
            var selectSeriesDiv = document.getElementById("selectSeries");
            if (selectSeriesDiv) {
                selectSeriesDiv.style.display = showSeriesSelect ? "block" : "none";
            } else {
                console.error("Не удалось найти элемент 'selectSeries'.");
                return;
            }
    
            // Удаляем класс 'active' у всех кнопок
            var episodeButtons = document.querySelectorAll('.episode-button');
            episodeButtons.forEach(function(button) {
                button.classList.remove('active');
            });
    
            // Добавляем класс 'active' к текущей кнопке
            if (clickedButton) {
                clickedButton.classList.add('active');
            }
    
            // Получаем уникальный ключ куки для текущего аниме
            var cookieKey = getAnimeCookieKey(animeId);
    
            // Сохраняем текущую страницу в cookies с использованием уникального ключа
            setCookie(cookieKey, currentPage, 365);
        };
    
        // Добавляем параметр animeId в функцию changeSeries
        function changeSeries(selectedSeries, button, animeId) {
            switchIframeSource(selectedSeries, true, button, animeId);
        };

    document.addEventListener('click', function (e) {
        var dropdownList = document.querySelector('.dropdown-list');
        var listButton = document.getElementById('list-button');

        if (!listButton.contains(e.target) && !dropdownList.contains(e.target)) {
            dropdownList.style.display = 'none';
        }
    });

    document.getElementById('list-button').addEventListener('click', function () {
        var dropdownList = document.querySelector('.dropdown-list');
        dropdownList.style.display = (dropdownList.style.display === 'block') ? 'none' : 'block';
    });
</script>
<script>
    var itemsPerPage = 5; // Количество элементов на одной странице
    var animeId = {{ anime.id }}; // Замените на уникальный идентификатор для каждого аниме
    var currentPage = parseInt(getCookie(getAnimeCookieKey(animeId))) || 1; // Текущая страница

    function getAnimeCookieKey(animeId) {
        return "currentPage_" + animeId;
    }

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function displayEpisodes(currentPage) {
        var episodeSelector = document.getElementById("episodeSelector");
        var episodes = episodeSelector.getElementsByClassName("btn");

        var start = (currentPage - 1) * itemsPerPage;
        var end = start + itemsPerPage;

        for (var i = 0; i < episodes.length; i++) {
            episodes[i].style.display = i >= start && i < end ? "inline-block" : "none";
        }

        document.getElementById("currentPage").innerHTML = currentPage;
    }

    function prevPage() {
        if (currentPage > 1) {
            currentPage--;
            setCookie(getAnimeCookieKey(animeId), currentPage, 365);
            displayEpisodes(currentPage);
            highlightCurrentPage();
        }
    }

    function nextPage() {
        var episodeSelector = document.getElementById("episodeSelector");
        var episodes = episodeSelector.getElementsByClassName("btn");
        var totalPages = Math.ceil(episodes.length / itemsPerPage);

        if (currentPage < totalPages) {
            currentPage++;
            setCookie(getAnimeCookieKey(animeId), currentPage, 365);
            displayEpisodes(currentPage);
            highlightCurrentPage();
        }
    }

    function setupPagination() {
        var episodeSelector = document.getElementById("episodeSelector");
        var episodes = episodeSelector.getElementsByClassName("btn");
        var totalPages = Math.ceil(episodes.length / itemsPerPage);

        var pagination = document.getElementById("pagination");
        pagination.innerHTML = "";

        var prevButton = document.createElement("button");
        prevButton.innerHTML = "Предыдущая";
        prevButton.onclick = function() {
            prevPage();
        };
        pagination.appendChild(prevButton);

        var currentPageSpan = document.createElement("span");
        currentPageSpan.id = "currentPage";
        currentPageSpan.innerHTML = currentPage;
        pagination.appendChild(currentPageSpan);

        var nextButton = document.createElement("button");
        nextButton.innerHTML = "Следующая";
        nextButton.onclick = function() {
            nextPage();
        };
        pagination.appendChild(nextButton);

        highlightCurrentPage();
    }

    function highlightCurrentPage() {
        var pagination = document.getElementById("pagination");
        var currentPageSpan = document.getElementById("currentPage");
        var buttons = pagination.getElementsByTagName("button");

        for (var i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove("active");
        }

        buttons[currentPage - 1].classList.add("active");
    }

    // Инициализация
    displayEpisodes(currentPage);
    setupPagination();
</script>
{% endblock content %}