#navbar{
  position: relative; 
}

.btn-rounded{
  background-color: #4b4b4b;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  border-radius: 50%;
}

.menu-btn{
  color:var(--eer-black)
}

.btn-link {
  color: rgb(218, 217, 217);
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  outline: none;
  color: black;
}
.btn-link:hover{
  outline: none;
  text-decoration: none;
  color: black;
}

/* button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0.125em solid #1A1A1A;
  border-radius: 0.9375em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  will-change: transform;
 }
 
 button:disabled {
  pointer-events: none;
 }
 
 button:hover {
  color: #fff;
  background-color: #1A1A1A;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
          box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
 }
 
 button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
 } */

/* hover effect on button width */
.Btn {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: none;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--night-rider);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--af-white);
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--af-white);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  outline: none;
  width: 70px;
  border-radius: 5px;
  transition-duration: .3s;
  color: black;
}

.Btn:hover .sign {
  outline: none;
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  outline: none;
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  outline: none;
  transform: translate(2px ,2px);
}

a.Btn-a{
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}
a.Btn-a:hover{
  outline: none;
  background-color: rgba(0, 0, 0, 0) !important;
}

.main-container {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
}

.mainbox {
  box-sizing: border-box;
  position: relative;
  width: 200px;
  height: 45px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;
  transition: all 0.3s ease;
  border: none;
}

.checkbox:focus {
  border: none;
  outline: none;
}

.checkbox:checked {
  right: 10px;
  border: none;
  outline: none;
  border-radius: none;
}

.checkbox:checked ~ .mainbox {
  width: 50px;
  border: none;
  outline: none;
  border-radius: 10%;
}

.checkbox:checked ~ .mainbox .search_input {
  width: 0;
  height: 0px;
  border: none;
  outline: none;
  border-radius: 0%;
}

.checkbox:checked ~ .mainbox .iconContainer {
  padding-right: 8px;
  border: none;
  outline: none;
  border-radius: 0%;
}

.checkbox {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 17px;
  top: 10px;
  z-index: 9;
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none
}

.search_input {
  box-sizing: border-box;
  height: 100%;
  width: 170px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 1em;
  color: white;
  transition: all 0.3s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search_input::placeholder {
  color: rgba(255, 255, 255, 0.776);
}

.iconContainer {
  box-sizing: border-box;
  padding-top: 5px;
  width: fit-content;
  transition: all 0.3s ease;
}

.search_icon {
  box-sizing: border-box;
  fill: white;
  font-size: 1.3em;
}