{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock title %}
{% block content %}
<style>
    #navbar {
    position: relative; /* Важно: установите позицию навбара как относительную */
}

#background-image {
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
    margin-top: -50px;
    z-index: -1;
}
</style>
{% block css %} <link rel="stylesheet" href="{% static "css/homepage/homepage.css" %}" type="text/css" />{% endblock css %}

<div class='image-banner' id="background-image">
    <img src='{% static "images/logo-banner.gif" %}'>
</div>

<div class="container-fluid text-center" style="margin-top: 450px; margin-left: 100px">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <h1 class="display-3" style="color: white; font-weight: bolder">Смотреть аниме</h1>
            <div class="sorting-container">
                <div class="sorting-block" style='border-radius: 5%'>
                    <p style='color: white; margin-top: 5px; margin-right: 5px; font-size: 15px;'>Сортировка по:</p>
                  <select id="sort-selector" class="form-select" aria-label="Default select example" name="sort">
                      <option value="title">Имени</option>
                      <option value="created_at">Дате добавления</option>
                  </select>
              </div>
            <button id="showGenresButton" class="btn btn-secondary" style="margin-left: 700px; margin-top: 10px; color: white; background-color: #202020; height: 45px; width: 140px; font-weight: bold;">Фильтры</button>
                <!-- Список жанров (всплывающий) -->
                <div id="genresContainer" style="margin-bottom: 400px; margin-left: 795px; position: absolute; background-color: rgba(35,35,35,0.7); color: white; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); height: 300px; width:350px; z-index: 1; border-radius: 5%">
                    <div class='containter' style="height: 90%;">
                        <label for="genre" style='font-size: 18px'>Жанры:</label>
                        <ul class='list-group' style="height: 100%; overflow-y: auto;">
                            {% for genre in genres %}
                            <li style='background-color: rgba(0,0,0,0); border: none; font-size: 18px'>
                                <input 
                                    type="checkbox" 
                                    id="genre_{{ genre.id }}" 
                                    class="form-check-input" 
                                    name="selectedGenres" 
                                    value="{{ genre.id }}"
                                    onchange="toggleCheck(this)"
                                >
                                <label style='margin-bottom: 5px;' class="form-check-label" for="genre_{{ genre.id }}">{{ genre.name }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div id="typeContainer" style="margin-bottom: 400px; margin-left: 550px; position: absolute; background-color: rgba(35,35,35,0.7); color: white; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); height: 300px; width:225px; z-index: 1; border-radius: 5%">
                    <div class='containter' style="height: 90%;">
                        <label for="type" style='font-size: 18px'>Тип:</label>
                        <ul class='list-group' style="height: 100%; overflow-y: auto;">
                            <li style='background-color: rgba(0,0,0,0); border: none; font-size: 18px'>
                                <input type="checkbox" id="series" class="form-check-input" name="typeFilter" value="ТВ Сериал">
                                <label class="form-check-label" for="series">ТВ-Сериал</label>
                            </li>
                            <li style='background-color: rgba(0,0,0,0); border: none; font-size: 18px'>
                                <input type="checkbox" id="film" class="form-check-input" name="typeFilter" value="Фильм" onchange="toggleCheck(this)">
                                <label class="form-check-label" for="film">Фильм</label>
                            </li>
                            <li style='background-color: rgba(0,0,0,0); border: none; font-size: 18px'>
                                <input type="checkbox" id="ova" class="form-check-input" name="typeFilter" value="OVA">
                                <label class="form-check-label" for="ova">OVA</label>
                            </li>
                            <li style='background-color: rgba(0,0,0,0); border: none; font-size: 18px'>
                                <input type="checkbox" id="special" class="form-check-input" name="typeFilter" value="ONA">
                                <label class="form-check-label" for="special">ONA</label>
                            </li>
                            <li style='background-color: rgba(0,0,0,0); border: none; font-size: 18px'>
                                <input type="checkbox" id="special" class="form-check-input" name="typeFilter" value="Спешл">
                                <label class="form-check-label" for="special">Спешл</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="anime-list" class="mini-product-container" style='margin-top:20px'></div>
        </div>


      <div class="col-sm-2 sidenav" style="margin-left: 100px; margin-top: 10px">
        <div style='margin-bottom:50px'>
          <div class="update-block-title" style='height: 37px; margin-bottom: 10px'>
              <p style='margin-top: 5px; margin-left: 10px; font-size: 18px; font-weight: bold'>Онгоинги</p>
          </div>
          <div id='ongoing-list'></div>
        </div>
        
        <div>
          <div class="update-block-title" style='height: 37px; margin-bottom: 10px; margin-top: 10px'>
            <p style='margin-top: 5px; margin-left: 10px; font-size: 18px; font-weight: bold'>Обновления на сайте</p>
          </div>
          <div id="new-anime-list"></div>
        </div>
    </div>
</div>
<script>
    
    function toggleText(elementId) {
      var element = document.getElementById(elementId);

      if (element) {
          var title = element.querySelector('.title');
          var description = element.querySelector('.description');

          if (title && description) {
              title.style.opacity = 0; // Скрываем текст "Берсерк"
              description.style.opacity = 1; // Показываем текст "Описание"
          } else {
              console.error('Элементы с указанными классами не найдены внутри элемента с ID ' + elementId);
          }
      } else {
          console.error('Элемент с ID ' + elementId + ' не найден.');
      }
  }
    
  function toggleDefault(elementId) {
    var element = document.getElementById(elementId);

    if (element) {
        var title = element.querySelector('.title');
        var description = element.querySelector('.description');

        if (title && description) {
            title.style.opacity = 1; // Скрываем текст "Берсерк"
            description.style.opacity = 0; // Показываем текст "Описание"
        } else {
            console.error('Элементы с указанными классами не найдены внутри элемента с ID ' + elementId);
        }
    } else {
        console.error('Элемент с ID ' + elementId + ' не найден.');
    }
  }
</script> 
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</script>
<script>
    var page = 1;
    var loading = false;
    var order_by = 'title';
    var selectedGenres = [];
    var typeFilter = [];

    $(document).ready(function () {
        // Скрываем контейнеры при загрузке страницы
        $('#genresContainer').hide();
        $('#typeContainer').hide();

        // Переключаем видимость контейнера с жанрами
        $('#showGenresButton').click(function () {
            $('#genresContainer').toggle();
            $('#typeContainer').toggle();
        });
    });

    $('input[name="selectedGenres"]').change(function () {
        // Очищаем список и загружаем данные заново с учетом выбранных жанров
        $('#anime-list').empty();
        page = 1;
        loadMoreAnime();
    });

    $('input[name="typeFilter"]').change(function () {
        // Очищаем список и загружаем данные заново
        $('#anime-list').empty();
        page = 1;
        loadMoreAnime();
    });

    function loadMoreAnime() {
        if (!loading) {
            loading = true;
    
            // Получаем массив выбранных жанров
            var selectedGenres = $('input[name="selectedGenres"]:checked').map(function () {
                return this.value;
            }).get();
    
            // Получаем массив выбранных типов
            var selectedTypes = $('input[name="typeFilter"]:checked').map(function () {
                return this.value;
            }).get();
    
            $.ajax({
                url: '/get_anime/',
                data: { page: page, order_by: order_by, selectedGenres: selectedGenres, selectedTypes: selectedTypes },
                dataType: 'json',
                success: function (data) {
                    console.log(data.anime_data);
    
                    if (data.anime_data.length > 0) {
                        var html = '';
                        for (var i = 0; i < data.anime_data.length; i++) {
                            var anime = data.anime_data[i];
                            var imageUrl = anime.image_url ? anime.image_url : '';
                            var itemType = anime.type;
                            html += `<div class="mini-product-block" id="item${anime.id}" onmouseover="toggleText('item${anime.id}')" onmouseout="toggleDefault('item${anime.id}')">`;
                            html += '<a href="' + (itemType === 'Anime' ? '/anime/' : 'anime/film/') + anime.id + '" style="width: 100%; height: 100%">';
                            html += '<div class="image-container">';
                            html += '<img src="' + imageUrl + '" class="product-image">';
                            html += '<div class="overlay"></div>';
                            html += '</div>';
                            html += '<p class="title">' + (anime.title.length > 30 ? anime.title.slice(0, 30) + '...' : anime.title) + '</p>';
                            html += '<p class="description">' + (anime.description.length > 450 ? anime.description.slice(0, 450) + '...' : anime.description) + '</p>';
                            html += '</a>';
                            html += '</div>';
                        }
                        $('#anime-list').append(html);
                        page += 1;
                    } else {
                        $('#load-more').hide();
                    }
                    loading = false;
                },
                error: function () {
                    loading = false;
                }
            });
        }
    }

    // Обработчик изменений в селекторе сортировки
    $('#sort-selector').change(function () {
        // Получаем выбранное значение
        order_by = $(this).val();
        // Очищаем список и загружаем данные заново
        $('#anime-list').empty();
        page = 1;
        loadMoreAnime();
    });

    // Обработчик события прокрутки
    $(window).scroll(function () {
        if (!loading && $(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
            loadMoreAnime(); // Вызов функции загрузки данных
        }
    });

    // Загрузите первую порцию данных при загрузке страницы
    loadMoreAnime();
</script>
<script>
  function displayOngoingData(data) {
    var ongoingList = $('#ongoing-list'); // Идентификатор вашего блока

    // Очищаем содержимое блока перед выводом новых данных
    ongoingList.empty();

    // Перебираем данные и создаем HTML-элементы для каждого объекта
    data.forEach(function (item) {
        var imageUrl = item.image_url ? item.image_url : '';
        var itemType = item.type;
        var href = (itemType === 'Anime' ? '/anime/' : '/anime/film/') + item.id;
        var html = `
          <a href='${href}' style="width: 100%; height: 100%">
            <div class="update-block" style='margin-bottom: 15px'>
                <div class="additional-image-container" style='margin-top: 10px; margin-left: 10px'>
                    <img src="${imageUrl}">
                </div>
                <div class="description-container" style='margin-top: 10px; margin-left: 10px'>
                    <p style='font-weight: bold'>${item.title}</p>
                    <p style='color: #A9A9A9'>Тип: ${item.anitype}</p>
                    <p style='color: #A9A9A9'>Количество серий: ${item.episodes}</p>
                </div>
            </div>
          </a>
        `;

        // Добавляем HTML в блок ongoing-list
        ongoingList.append(html);
    });
  }

  function displayNewAnimeData(data) {
    var newList = $('#new-anime-list'); // Идентификатор вашего блока

    // Очищаем содержимое блока перед выводом новых данных
    newList.empty();

    // Перебираем данные и создаем HTML-элементы для каждого объекта
    data.forEach(function (item) {
        var imageUrl = item.image_url ? item.image_url : '';
        var itemType = item.type;
        var href = (itemType === 'Anime' ? '/anime/' : '/anime/film/') + item.id;
        var html = `
          <a href='${href}' style="width: 100%; height: 100%">
            <div class="update-block" style='margin-bottom: 15px'>
                <div class="additional-image-container" style='margin-top: 10px; margin-left: 10px'>
                    <img src="${imageUrl}">
                </div>
                <div class="description-container" style='margin-top: 10px; margin-left: 10px'>
                    <p style='font-weight: bold'>${item.title}</p>
                    <p style='color: #A9A9A9'>Тип: ${item.anitype}</p>
                    <p style='color: #A9A9A9'>Количество серий: ${item.episodes}</p>
                </div>
            </div>
          </a>
        `;

        // Добавляем HTML в блок ongoing-list
        newList.append(html);
    });
  }

  // Предполагается, что у вас уже есть данные ongoing_data
  $.ajax({
    url: '/get_anime/',
    data: { page: page },
    dataType: 'json',
    success: function (data) {
        console.log(data.ongoing_data); // Вывод данных в консоль для отладки
        displayOngoingData(data.ongoing_data)
        displayNewAnimeData(data.news_data)

    }
});
</script>

<script>
  const sortSelector = document.getElementById('sort-selector');

  sortSelector.addEventListener('change', function() {
      const selectedSortParam = sortSelector.value;

      // Отправляем AJAX-запрос на сервер с выбранным параметром сортировки
      fetch(`/get_anime/?order_by=${selectedSortParam}`)
          .then(response => response.json())
          .then(data => {
              console.log(data);
              loadMoreAnime();
          })
          .catch(error => console.error('Error:', error));
  });
</script>
{% endblock content %}