{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock title %}
{% block content %}
<style>
    #navbar {
    background-color: rgba(255, 255, 255, 0);
    height: 50px; /* Задайте высоту навбара */
    position: relative; /* Важно: установите позицию навбара как относительную */
}

#background-image {
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
    margin-top: -50px;
    z-index: -1;
}
</style>
{% block css %} <link rel="stylesheet" href="{% static "css/homepage/homepage.css" %}" type="text/css" />{% endblock css %}

<div class='image-banner' id="background-image">
    <img src='{% static "images/pizdec_banner.png" %}'>
</div>

<div class="container-fluid text-center" style="margin-top: 570px; margin-left: 100px">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <h1 class="display-3" style="color: white; font-weight: bolder">Смотреть аниме</h1>
            Сортировка по: <select class="form-select" aria-label="Default select example">
                <option value="1">Рейтингу</option>
                <option value="2">Дате добавления</option>
                <option value="3">Просмотрам</option>
            </select>
            <div class="mini-product-container" style='margin-top: 20px'>
        
                <div class="mini-product-block">
                    <div class="image-container">
                        <img src='{% static "images/berserk.jpg" %}' class="product-image">
                        <div class="overlay"></div>
                    </div>
                    <p>Берсерк</p>
                </div>
        
                <div class="mini-product-block">
                    <div class="image-container">
                        <img src='{% static "images/psycho.png" %}' class="product-image">
                        <div class="overlay"></div>
                    </div>
                    <p>Тетрадь смерти</p>
                </div>
        
                <div class="mini-product-block">
                    <div class="image-container">
                        <img src='{% static "images/titans.jpg" %}' class="product-image">
                        <div class="overlay"></div>
                    </div>
                    <p>Атака титанов</p>
                </div>
            
                <div class="mini-product-block">
                    <div class="image-container">
                        <img src='{% static "images/vinland.png" %}' class="product-image">
                        <div class="overlay"></div>
                    </div>
                    <p>Сага о Винланде</p>
                </div>
        
                <div class="mini-product-block">
                    <div class="image-container">
                        <img src='{% static "images/thriller.png" %}' class="product-image">
                        <div class="overlay"></div>
                    </div>
                    <p>Врата Штейна</p>
                </div>
        
                <div class="mini-product-block">
                    <div class="image-container">
                        <img src='{% static "images/berserk.jpg" %}' class="product-image">
                        <div class="overlay"></div>
                    </div>
                    <p>Берсерк</p>
                </div>
        
            </div>
        </div>
      <div class="col-sm-2 sidenav" style="margin-left: 100px;">
        <div class="well">
          <p>ADS</p>
        </div>
        <div class="well">
          <p>ADS</p>
        </div>
      </div>
    </div>
</div>
  


{% endblock content %}