{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock title %}
{% block content %}
<style>
    #navbar {
    position: relative; /* Важно: установите позицию навбара как относительную */
}

#background-image {
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
    margin-top: -50px;
    z-index: -1;
}
</style>
{% block css %} <link rel="stylesheet" href="{% static "css/homepage/homepage.css" %}" type="text/css" />{% endblock css %}

<div class='image-banner' id="background-image">
    <img src='{% static "images/pizdec_banner.png" %}'>
</div>

<div class="container-fluid text-center" style="margin-top: 450px; margin-left: 100px">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <h1 class="display-3" style="color: white; font-weight: bolder">Смотреть аниме</h1>
            <div class="sorting-container">
                <div class="sorting-block">
                    <p style='color: white; margin-top: 5px; font-size: 15px'>Сортировка по:</p>
                </div>
            
                <div class="sorting-block">
                  <select id="sort-selector" class="form-select" aria-label="Default select example" name="sort">
                      <option value="title">Имени</option>
                      <option value="created_at">Дате добавления</option>
                  </select>
              </div>
            </div>
            <div id="anime-list" class="mini-product-container" style='margin-top:20px'></div>
        </div>


      <div class="col-sm-2 sidenav" style="margin-left: 100px; margin-top: 10px">
        <div style='margin-bottom:50px'>
          <div class="update-block-title" style='height: 37px; margin-bottom: 10px'>
              <p style='margin-top: 5px; margin-left: 10px; font-size: 18px; font-weight: bold'>Онгоинги</p>
          </div>
          <div id='ongoing-list'></div>
        </div>
        
        <div>
          <div class="update-block-title" style='height: 37px; margin-bottom: 10px; margin-top: 10px'>
            <p style='margin-top: 5px; margin-left: 10px; font-size: 18px; font-weight: bold'>Обновления на сайте</p>
          </div>
          <div id="new-anime-list"></div>
        </div>
    </div>
</div>
<script>
    
    function toggleText(elementId) {
      var element = document.getElementById(elementId);

      if (element) {
          var title = element.querySelector('.title');
          var description = element.querySelector('.description');

          if (title && description) {
              title.style.opacity = 0; // Скрываем текст "Берсерк"
              description.style.opacity = 1; // Показываем текст "Описание"
          } else {
              console.error('Элементы с указанными классами не найдены внутри элемента с ID ' + elementId);
          }
      } else {
          console.error('Элемент с ID ' + elementId + ' не найден.');
      }
  }
    
  function toggleDefault(elementId) {
    var element = document.getElementById(elementId);

    if (element) {
        var title = element.querySelector('.title');
        var description = element.querySelector('.description');

        if (title && description) {
            title.style.opacity = 1; // Скрываем текст "Берсерк"
            description.style.opacity = 0; // Показываем текст "Описание"
        } else {
            console.error('Элементы с указанными классами не найдены внутри элемента с ID ' + elementId);
        }
    } else {
        console.error('Элемент с ID ' + elementId + ' не найден.');
    }
  }
</script> 
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</script>
<script>
  var page = 1; // Инициализация страницы
  var loading = false; // Флаг для отслеживания текущей загрузки данных
  var order_by = 'title'; // Параметр сортировки по умолчанию
  
  function loadMoreAnime() {
      if (!loading) {
          loading = true;
  
          $.ajax({
              url: '/get_anime/',
              data: { page: page, order_by: order_by }, // Добавляем параметр сортировки
              dataType: 'json',
              success: function (data) {
                  console.log(data.anime_data); // Вывод данных в консоль для отладки
  
                  if (data.anime_data.length > 0) {
                      var html = '';
                      for (var i = 0; i < data.anime_data.length; i++) {
                        var anime = data.anime_data[i];
                        var imageUrl = anime.image_url ? anime.image_url : '';
                        var itemType = anime.type;
                        html += `<div class="mini-product-block" id="item${anime.id}" onmouseover="toggleText('item${anime.id}')" onmouseout="toggleDefault('item${anime.id}')">`;
                          html += '<a href="' + (itemType === 'Anime' ? '/anime/' : 'anime/film/') + anime.id + '" style="width: 100%; height: 100%">';
                          html += '<div class="image-container">';
                          html += '<img src="' + imageUrl + '" class="product-image">';
                          html += '<div class="overlay"></div>';
                          html += '</div>';
                          html += '<p class="title">' + (anime.title.length > 30 ? anime.title.slice(0, 30) + '...' : anime.title) + '</p>';
                          html += '<p class="description">' + (anime.description.length > 450 ? anime.description.slice(0, 450) + '...' : anime.description) + '</p>';
                          html += '</a>';
                          html += '</div>';
                      }
                      $('#anime-list').append(html);
                      page += 1;
                  } else {
                      // Если больше нет данных, скройте кнопку загрузки
                      $('#load-more').hide();
                  }
                  loading = false;
              },
              error: function () {
                  loading = false;
              }
          });
      }
  }
  
  // Обработчик изменений в селекторе сортировки
  $('#sort-selector').change(function() {
      // Получаем выбранное значение
      order_by = $(this).val();
      // Очищаем список и загружаем данные заново
      $('#anime-list').empty();
      page = 1;
      loadMoreAnime();
  });
  
  // Обработчик события прокрутки
  $(window).scroll(function () {
      if (!loading && $(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
          loadMoreAnime(); // Вызов функции загрузки данных
      }
  });
  
  // Загрузите первую порцию данных при загрузке страницы
  loadMoreAnime();
</script>
<script>
  function displayOngoingData(data) {
    var ongoingList = $('#ongoing-list'); // Идентификатор вашего блока

    // Очищаем содержимое блока перед выводом новых данных
    ongoingList.empty();

    // Перебираем данные и создаем HTML-элементы для каждого объекта
    data.forEach(function (item) {
        var imageUrl = item.image_url ? item.image_url : '';
        var itemType = item.type;
        var href = (itemType === 'Anime' ? '/anime/' : '/anime/film/') + item.id;
        var html = `
          <a href='${href}' style="width: 100%; height: 100%">
            <div class="update-block" style='margin-bottom: 15px'>
                <div class="additional-image-container" style='margin-top: 10px; margin-left: 10px'>
                    <img src="${imageUrl}">
                </div>
                <div class="description-container" style='margin-top: 10px; margin-left: 10px'>
                    <p style='font-weight: bold'>${item.title}</p>
                    <p style='color: #A9A9A9'>Тип: ${item.anitype}</p>
                    <p style='color: #A9A9A9'>Количество серий: ${item.episodes}</p>
                </div>
            </div>
          </a>
        `;

        // Добавляем HTML в блок ongoing-list
        ongoingList.append(html);
    });
  }

  function displayNewAnimeData(data) {
    var newList = $('#new-anime-list'); // Идентификатор вашего блока

    // Очищаем содержимое блока перед выводом новых данных
    newList.empty();

    // Перебираем данные и создаем HTML-элементы для каждого объекта
    data.forEach(function (item) {
        var imageUrl = item.image_url ? item.image_url : '';
        var itemType = item.type;
        var href = (itemType === 'Anime' ? '/anime/' : '/anime/film/') + item.id;
        var html = `
          <a href='${href}' style="width: 100%; height: 100%">
            <div class="update-block" style='margin-bottom: 15px'>
                <div class="additional-image-container" style='margin-top: 10px; margin-left: 10px'>
                    <img src="${imageUrl}">
                </div>
                <div class="description-container" style='margin-top: 10px; margin-left: 10px'>
                    <p style='font-weight: bold'>${item.title}</p>
                    <p style='color: #A9A9A9'>Тип: ${item.anitype}</p>
                    <p style='color: #A9A9A9'>Количество серий: ${item.episodes}</p>
                </div>
            </div>
          </a>
        `;

        // Добавляем HTML в блок ongoing-list
        newList.append(html);
    });
  }

  // Предполагается, что у вас уже есть данные ongoing_data
  $.ajax({
    url: '/get_anime/',
    data: { page: page },
    dataType: 'json',
    success: function (data) {
        console.log(data.ongoing_data); // Вывод данных в консоль для отладки
        displayOngoingData(data.ongoing_data)
        displayNewAnimeData(data.news_data)

    }
});
</script>

<script>
  const sortSelector = document.getElementById('sort-selector');

  sortSelector.addEventListener('change', function() {
      const selectedSortParam = sortSelector.value;

      // Отправляем AJAX-запрос на сервер с выбранным параметром сортировки
      fetch(`/get_anime/?order_by=${selectedSortParam}`)
          .then(response => response.json())
          .then(data => {
              console.log(data);
              loadMoreAnime();
          })
          .catch(error => console.error('Error:', error));
  });
</script>
{% endblock content %}